/* font family */
* {
    font-family: 'Quicksand', sans-serif !important;
}

body.active {
    overflow: auto;
}

.nav-landing-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-landing-page > .container {
    height: 50px;
    background-color: rgba(255, 255, 255, .5) !important;
    backdrop-filter: blur(4px) !important;
    box-shadow: 0 .5px 20px -2px rgba(30, 144, 255, .1) !important;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-landing-page > .container > .left,
.nav-landing-page > .container > .right {
    display: flex;
    gap: 20px;
}

.nav-landing-page > .container > .left > a,
.sidebar-contents > .container > a {
    color: #3d3d3d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.nav-landing-page > .container > .right > .hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
    justify-content: center;
}

.nav-landing-page > .container > .right > .hamburger-menu > span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #828282;
    border-radius: 2px;
}

.nav-landing-page > .container > .right > .profile {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
} 

.nav-landing-page > .container > .right > .profile > .image {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.nav-landing-page > .container > .right > .profile > .image.none {
    pointer-events: auto;
}

.nav-landing-page > .container > .right > .profile > .image > img {
    height: 35px;
    border-radius: 50%;
    border: 1.4px solid #11C5C6;
    padding: .5px;
}

.nav-landing-page > .container > .right > .profile > .image > .bi-chevron-down {
    transition: .4s;
}

.nav-landing-page > .container > .right > .profile > .image.active > .bi-chevron-down {
    transform: rotate(180deg);
    transition: .4s;
}

.nav-landing-page > .container > .right > .profile > .dropdown-container {
    width: 120px;
    /* height: 100px; */
    background-color: rgba(255, 255, 255, .6);
    position: absolute;
    z-index: -1;
    border: .1px solid rgb(206, 212, 218, .6);
    border-radius: 4px;
    visibility: hidden;
    transition: .4s;
    display: flex;
    flex-direction: column;
}

.nav-landing-page > .container > .right > .profile > .image.active ~ .dropdown-container {
    visibility: visible;
    background-color: rgba(255, 255, 255, 1);
    border: .1px solid rgb(206, 212, 218, 1);
    margin-top: 50px;

}

.nav-landing-page > .container > .right > .profile > .dropdown-container > a {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-landing-page > .container > .right > .profile > .dropdown-container > a:last-child {
    padding-top: 5px;
}

.nav-landing-page > .container > .right > .profile > .dropdown-container > a {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3d3d3d;
}

.nav-landing-page > .container > .right > .profile > .dropdown-container > a:last-child,
.nav-landing-page > .container > .right > .profile > .dropdown-container > a:last-child > .bi-box-arrow-left {
    color: #f43f5e;
}

.dashboard-contents,
.administration-contents,
.administration-advanced-contents {
    margin-top: 70px;
    /* border: 1px solid red; */
    margin-bottom: 50px;
}

.dashboard-contents > .container,
.administration-contents > .container,
.administration-advanced-contents > .container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard-contents > .container > form {
    display: flex;
    align-items: center;
}

.dashboard-contents > .container > form > input {
    height: 35px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ced4da;
    border-right: none;
    color: #3d3d3d;
}

.dashboard-contents > .container > form > input::placeholder {
    color: #3d3d3d;
}

.dashboard-contents > .container > form > button {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 40px;
    align-items: center;
    border-radius: 0 4px 4px 0;
}

.dashboard-contents > .container > p {
    color: #3d3d3d;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
}

.dashboard-contents > .container > .table-container,
.administration-advanced-contents > .container > .table-container {
    display: flex;
    overflow: auto;
    /* border: 1px solid red; */
}

.dashboard-contents > .container > .table-container > table > thead > tr > th:not(:first-child),
.dashboard-contents > .container > .table-container > table > tbody > tr > th:not(:first-child),
.dashboard-contents > .container > .table-container > table > tbody > tr > td:not(:first-child),
.administration-advanced-contents > .container > .table-container > table > thead > tr > th:not(:first-child),
.administration-advanced-contents > .container > .table-container > table > tbody > tr > th:not(:first-child),
.administration-advanced-contents > .container > .table-container > table > tbody > tr > td:not(:first-child) {
    min-width: 180px;
}

.dashboard-contents > .container > .table-container > table > thead > tr > th,
.dashboard-contents > .container > .table-container > table > tbody > tr > th,
.dashboard-contents > .container > .table-container > table > tbody > tr > td,
.administration-advanced-contents > .container > .table-container > table > thead > tr > th,
.administration-advanced-contents > .container > .table-container > table > tbody > tr > th,
.administration-advanced-contents > .container > .table-container > table > tbody > tr > td {
    color: #3d3d3d;
}

.dashboard-contents > .container > .table-container > table > thead > tr > th,
.dashboard-contents > .container > .table-container > table > tbody > tr > th,
.administration-advanced-contents > .container > .table-container > table > thead > tr > th,
.administration-advanced-contents > .container > .table-container > table > tbody > tr > th {
    font-weight: 600;
}

.dashboard-contents > .container > .table-container > table > tbody > tr > td > p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 5px;
    border-radius: 5px;
    margin-bottom: 0;
    font-weight: 500;
    max-width: 100px;
}

.dashboard-contents > .container > .table-container > table > tbody > tr > td > p.pending {
    color: #3d3d3d;
    background-color: rgb(248, 248, 0);
}

.footer-contents { 
    /* border: 1px solid red; */
    margin-bottom: 50px;
}

.footer-contents > .container {
    min-height: 100px;
    /* border: 1px solid red; */
    display: flex;
    gap: 100px;
}

.footer-contents > .container > .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    max-width: 100%;
    /* border: 1px solid red; */
}

.footer-contents > .container > .box:nth-child(2) {
    gap: 10px;
}

.footer-contents > .container > .box > p,
.administration-contents > .container > p,
.administration-advanced-contents > .container > p {
    color: #3d3d3d;
    margin-bottom: 0 !important;
    letter-spacing: 1px;
}

.footer-contents > .container > .box > img {
    width: 100px;
}

.footer-contents > .container > .box > .med-soc {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-contents > .container > .box > .med-soc > a {
    text-decoration: none;
    color: #3d3d3d;
}

.footer-contents > .container > .box > .med-soc > a > .bi-facebook,
.footer-contents > .container > .box > .med-soc > a > .bi-instagram,
.footer-contents > .container > .box > .med-soc > a > .bi-twitter,
.footer-contents > .container > .box > .med-soc > a > .bi-youtube {
    font-size: 20px;
}

.sidebar-contents {
    position: fixed;
    top: 50px;
    left: -100vw;
    right: 100vw;
    bottom: 0;
    transition: .4s;
    background-color:#fff;
    display: none;
    justify-content: center;
}

.sidebar-contents.active {
    left: 0;
    right: 0;
}

.sidebar-contents > .container {
    height: 100%;
    border: 1px solid #fff;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.administration-contents > .container > form {
    width: 370px;
    min-height: 340px;
    border: .1px solid #ced4da;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.administration-contents > .container > form > select,
.administration-contents > .container > form > input,
.administration-advanced-contents > .container > form > input {
    width: 100%;
    height: 35px;
    border-radius: 4px !important;
}

.administration-contents > .container > form > input,
.administration-contents > .container > form > input::placeholder,
.administration-advanced-contents > .container > form > input::placeholder {
    color: #3d3d3d;
    letter-spacing: 1px;
}

.administration-contents > .container > form > button,
.administration-advanced-contents > .container > form > button {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px !important;
}

.administration-advanced-contents > .container > .table-container > table > tbody > tr > td > a {
    height: 35px;
    width: 100px;
    border-radius: 4px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.administration-advanced-contents > .container > form {
    width: 370px;
    padding: 20px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: .1px solid #ced4da;
    border-radius: 4px;
}

/* responsive */
/* for mobile size */
@media screen and (max-width: 380px) {
    .administration-contents > .container > form,
    .administration-advanced-contents > .container > form {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .nav-landing-page > .container > .right > .hamburger-menu,
    .sidebar-contents {
        display: flex;
    }

    .nav-landing-page > .container > .left > a:nth-child(2) {
        display: none;
    }

    .footer-contents > .container {
        flex-direction: column;
    }

    .footer-contents > .container > .box {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    body.active {
        overflow: hidden;
    }

    .nav-landing-page > .container > .right > .profile > .image.none {
        pointer-events: none;
    }
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 2px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}